*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    font-family: Garamond;
    font-weight: bold;
}
@font-face {
    font-family: 'font';
    src: url(font/FrederickatheGreat-Regular.ttf);
}
body{
    background-color: #ffff;
}
.title {
    color: black;
    font-size: 9vh;
    width: 300px;
    font-weight: normal;
    font-family: 'font';
    margin-left: 40px;
    margin-top: 20px;

}
.task{
    margin: auto;
    text-align: center;
    height: 50%;
}
input{
    font-size: 20px;
    padding:10px 5px;
    width: 70%;
    background-color: aqua;
    border-radius: 10px;
    background-color: #fda50f;
    margin-top: 6%;
}
.add-btn{
    width: 57px;
    cursor: pointer;
    margin-left: -64px;
    color: antiquewhite;
    border-radius: 10px;
    background-color: #b35900;
    font-size: 20px;
    padding: 6px 0px;
}
.add-btn-disable:disabled {
    width: 57px;
    cursor: pointer;
    margin-left: -64px;
    color: gray;
    border-radius: 10px;
    background-color: #b35900;
    font-size: 20px;
    padding: 6px 0px;
}
::-webkit-input-placeholder { /* Edge */
    color: black;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: black;
  }
  
  ::placeholder {
    color: black;
  }
  .todo-list{
      width: 93%;
      z-index: 2;
      margin: auto;
      
      
  }
  li{
      background-color: #ffca28;
      width: 100%;
      font-size: 20px;
      text-align: left;
      margin-top: 2px;
      display:inline-block;
      padding: 5px 0px 0px 2px;  
      z-index: 2;
      
  }
  .filter{
      background-color:#18bd22 ;
      color: white;
      border-radius: 10px;
      padding: 6px 0px;
      text-align: center;
      margin-left: 0.1rem;
  }
  img{
      margin-left: 4%;
  }
.delete-btn,
.edit-btn,
.complete-btn{
    float: right;
    font-size: 16px;
    margin: 20px 8px 6px 0px;
    cursor: pointer;
    border-radius: 10px;
    color: aliceblue;
    padding:7px 7px ;
}
.complete-btn{
    background-color: green;
}
.complete-status {
    background-color: gray;
}
.delete-btn{
    background-color: red;
}
.edit-btn{
    background-color: gray;
}
@media only screen and (min-width:710px) {
    input{
        width: 550px;
        margin-top: 60px;
    }
    .todo-list{
        width: 650px;
    }

    
@media only screen and (min-width:1650px) {
    .add-btn{
        width: 3.4%;
        margin-left: -72px;
    }
}
@media only screen and (min-width:510px) {
  .todo-list{
      margin: auto;
  }

}
}